.stickyhere {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightcyan;
    border-color: lightcyan;
    border-style: solid !important;
    width: 50%;
}

.quiz {
    border-radius: 5px;
    border-style: solid !important;
    border-color: cadetblue;
}

.unCorrect {
    z-index: 1;
    border-radius: 5px;
    border-color: lightcoral;
    border-style: solid !important;
    height: auto;
    display: inline-block !important;
    display: inline;
}