<form [formGroup]="formGroup">
<div class="container-fluid">
    <div class="row">
        <div class="col">
                <input type="text" class="form-control form-input" placeholder="please enter the exam-name"
                    formControlName="keyword">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="this.getExamByKeyWord().length && !this.optionMode">
        <div class="col-2" *ngFor="let exam of this.getExamByKeyWord()">
            <mat-card class="exam" (click)="guideToExam(exam)">{{exam}}</mat-card>
        </div>
    </div>

    <div class="row" *ngIf="this.optionMode">
        <div class="col">
            <br/>
            <div class="radiobtn">
                <input type="radio" id="quizzes_full" value="0" formControlName="quizzes_num"/>
                <label for="quizzes_full">
                    full quizzes
                </label>
            </div>
            <div class="radiobtn">
                <input type="radio" id="quizzes_10" value="10" formControlName="quizzes_num" />
                <label for="quizzes_10">
                    random 10 quizzes
                </label>
            </div>
            <div class="radiobtn">
                <input type="radio" id="quizzes_25" value="25" formControlName="quizzes_num" />
                <label for="quizzes_25">
                    random 25 quizzes
                </label>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="this.optionMode">
        <div class="col">
            <br />
            <button type="button" class="btn btn-info" (click)="startToExam()">Start-Exam</button>
        </div>
    </div>

</div>
</form>