<div class="container-fluid">
    <div class="row stickyhere">
        <div class="col-6"><pre>EXAM_NAME : {{this.examRecord.examName}}</pre></div>
        <div class="col-6">
            <div>
                <button type="button" class="btn btn-secondary" (click)="commitExam()">commit</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
        </div>
    </div>
    <div class="row" *ngFor="let quiz of this.examRecord.ansQuizzes;let quizIdx=index;">
        <div class="col-12 quizMain" [ngClass]="{'notAns': this.isNotAns(quizIdx)}">
            <div class="row">
                <div class="col-12 quizContent">
                    <app-quiz-content [quizContent]="quiz.quizContent" [isQuizContent]="true"></app-quiz-content>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-12" *ngFor="let choose of quiz.chooses;let chooseIdx=index;">
                    <pre class="chooseContent" [ngClass]="{'chooseIt': this.chooseOrNot(choose, quizIdx)}" (click)="this.changeChoose(choose, quizIdx)">{{choose}}</pre>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>