.stickyhere{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightcyan;
    border-color: lightcyan;
    border-style: solid !important;
    border-radius: 5px;
    width: 50%;
}
.quizMain {
    z-index: 1;
    border-radius: 5px;
    border-color: cadetblue;
    border-style: solid !important;
    height: auto;
    display: inline-block !important;
    display: inline;
}
.chooseContent{
    cursor: pointer;
}
.chooseIt{
    color:rgb(154, 162, 4)
}
.quizContent{

}
.notAns {
    z-index: 1;
        border-radius: 5px;
        border-color: red;
        border-style: solid !important;
        height: auto;
        display: inline-block !important;
        display: inline;
}
