<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form [formGroup]="formGroup">
            <input type="text" class="form-control form-input" placeholder="please enter the exam-name" formControlName="keyword">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="this.getExamByKeyWord().length && !this.watchMode">
        <div class="col-2" *ngFor="let exam of this.getExamByKeyWord()">
            <mat-card (click)="guideToSolution(exam)">{{exam}}</mat-card>
        </div>
    </div>

    <div class="row" *ngIf="this.watchMode && this.examSolution">
        <div class="col-12" *ngFor="let quiz of this.examSolution.quizzes">
            <div class="container-fluid quiz">
                <div class="row">
                    <div class="col">
                        <app-quiz-content [quizContent]="quiz.quizContent" [isQuizContent]="true"></app-quiz-content>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" *ngFor="let choose of quiz.chooses">
                        <app-choose-wrapper [choose]="choose" [isCorrect]="this.isCorrectAns(choose, quiz.correctContents)"></app-choose-wrapper>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <app-quiz-content [quizContent]="quiz.solution" [isQuizContent]="false"></app-quiz-content>
                    </div>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>